@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::selection{
    background-color:  rgb(189, 149, 128);
}
html{
    scroll-behavior:smooth;  
}

body{
    margin: 0;
}

img{
    max-width: 100%;
}
p,h1,h2,h3,h4,h5,h6,a,li{
    margin-top: 0;
}

p, a{
    font-size:18px ;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color:#2b456e;    
}

h3{
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

h4{
    font-size: 1.6em;
    font-family: 'Work Sans', sans-serif;

}

h5{
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

div h5:first-of-type:not(ul li h5),ul li:first-of-type h5 {
    font-weight: 700;
}

h6{
    font-size: 1.1em;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
}

li{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:#2B456E;
    transition: 0.4s;
}

a:visited{
    color: #D37879;
    transition: 0.4s;
}

a:hover{
    color:#0D0D11;
    transition: 0.4s;
}

header{
    background-image: url(images/Personaje.svg);
    background-size: cover;
    background-position-y: 80%;
    background-attachment: fixed;
    min-height: 100VH;
    position: relative;
}

header nav{
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #2b456e;
    z-index: 3;
}

header nav ul{
    margin:0;
}

header nav li{
    list-style: none;
    display: inline-block;
    padding: 1em 0;
    margin: 0;
}

header nav li a:hover{
    background-color:#efe5e5 ;
    color:#2b456e;
}

nav li a{
    color:#efe5e5;
    padding:1em;
    margin:0;
}

nav a:visited{
    color: #efe5e5;
}

blockquote{
    position:absolute;
    top:25%;
    transform: translateX(50%);
    width: 20%;
    max-width: 300px;
    padding: 3em;
    margin:0;
    border-radius: 2em;
    background-color: #2b456eba;
    text-align: center;
    font-size: 2em;
    color: rgb(255, 248, 240);
}

blockquote span{
    font-size: 1.4em;
}

main{
    background-color: #2b456e;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3.3em;
}

#info-personal{
    background-color: #83A3A3;
    width: 30%;
    padding:10em 2em 0;
    margin-right: 1em;
    position: relative;
    border-radius: 3em 0 0;
}

#info-personal div{

    overflow-wrap: break-word;
}

#info-personal div:first-child {
    
    background-color: #2b456e;
    border-radius: 50%;
    position: absolute;
    top:-10%;
    left: 55%;
    width: 90%;
}
#info-personal div:first-child img{
    max-width: 92%;
    border-radius: 50%;
    transition: 0.4s;
    padding: 4%;
    z-index: 1;
    position: relative;
}
#info-personal div:first-child img:hover{
    opacity: 0.01%;
    transition: 0.4s;
}

#info-personal div:first-child p{
    position: absolute;
    text-align: center;
    top:50%;
    left: 12%;
    color:#ffffff;
    font-size: 1.4em;
    display: none;
    user-select: none; 
    z-index: 0;
}

#info-personal div:first-child img:hover + p{
    display: initial;
}

i{
    width: 30px;
    transition: 0.4s;
    padding-right: 0.5em;
}

i:hover{
    filter:invert(1);
    transition: 0.4s;
}

i.email{
    content: url(images/email.png);
}

i.localizacion{
    content: url(images/ubicacion.png);
}

i.llamada{
    content: url(images/llamada.png);
}

i.linkedin{
    content: url(images/linkedin.png);
}

 #info-personal div:nth-of-type(2) a{
    margin-bottom:30px;
    font-weight: 500;
    color: #0D0D11;
    display: flex;
    align-items: center;
    line-height: 1.8em;
}

#info-personal div:nth-of-type(2) a:visited{
    color:#0D0D11;
}

#info-personal div:nth-of-type(2) a:hover{
    color:#ffffff;
}

#info-personal div img{
    max-width: 30px;
}

#info-laboral{
    background-color: rgb(255, 248, 240);
    padding:6em 2em 0;    
    width:65%;
    border-radius: 0 3em 0 0;
}

section{
    padding-top: 4em;
}

#info-laboral section:last-of-type{
    padding-bottom: 4em;
}


/* Sección Herramientas */
section#herramientas div{
    column-count: 2;
}
